diff:
  exclude:
    - "scripts"
data:
{{- if and (stat "/sys/class/dmi/id/product_name") (contains (trim (include "/sys/class/dmi/id/product_name")) "Standard PC") }}
  desktop: true
{{- else }}
  desktop: false
{{ end }}
