* {
    primary: #89a847;
    primary-fixed: #405900;
    primary-fixed-dim: #2d4000;
    on-primary: #152000;
    on-primary-fixed: #d4f68a;
    on-primary-fixed-variant: #a9c963;
    primary-container: #2d4000;
    on-primary-container: #b0d16a;
    secondary: #99a183;
    secondary-fixed: #4c543b;
    secondary-fixed-dim: #363d26;
    on-secondary: #141a07;
    on-secondary-fixed: #e5edcc;
    on-secondary-fixed-variant: #b9c1a2;
    secondary-container: #363d26;
    on-secondary-container: #c0c8a9;
    tertiary: #78a69f;
    tertiary-fixed: #2b5953;
    tertiary-fixed-dim: #10413c;
    on-tertiary: #001c19;
    on-tertiary-fixed: #c3f3eb;
    on-tertiary-fixed-variant: #98c7bf;
    tertiary-container: #10413c;
    on-tertiary-container: #9fcec6;
    error: #ff7063;
    on-error: #3a0001;
    error-container: #7b0007;
    on-error-container: #ffb1a8;
    surface: #131313;
    on-surface: #c3c3c3;
    on-surface-variant: #9d9d9d;
    outline: #7b7b7b;
    outline-variant: #3a3a3a;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e2e2e2;
    inverse-on-surface: #4d4d4d;
    inverse-primary: #567215;
    surface-dim: #131313;
    surface-bright: #393939;
    surface-container-lowest: #0e0e0e;
    surface-container-low: #1b1b1b;
    surface-container: #1f1f1f;
    surface-container-high: #2a2a2a;
    surface-container-highest: #353535;
}
