* {
    primary: #fe724a;
    primary-fixed: #972904;
    primary-fixed-dim: #701a00;
    on-primary: #3d0a00;
    on-primary-fixed: #ffe4dd;
    on-primary-fixed-variant: #ffa88f;
    primary-container: #701a00;
    on-primary-container: #ffb29d;
    secondary: #d78a74;
    secondary-fixed: #7d402e;
    secondary-fixed-dim: #602a1a;
    on-secondary: #340901;
    on-secondary-fixed: #ffe4dd;
    on-secondary-fixed-variant: #fca992;
    secondary-container: #602a1a;
    on-secondary-container: #ffb29d;
    tertiary: #3ea8d3;
    tertiary-fixed: #005874;
    tertiary-fixed-dim: #003f54;
    on-tertiary: #001b26;
    on-tertiary-fixed: #d1eeff;
    on-tertiary-fixed-variant: #66c9f6;
    tertiary-container: #003f54;
    on-tertiary-container: #6ed0fd;
    error: #ff7063;
    on-error: #3a0001;
    error-container: #7b0007;
    on-error-container: #ffb1a8;
    surface: #1c110d;
    on-surface: #d5bfb9;
    on-surface-variant: #b4978f;
    outline: #91756e;
    outline-variant: #4b352f;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f5ddd7;
    inverse-on-surface: #594945;
    inverse-primary: #b9401c;
    surface-dim: #1c110d;
    surface-bright: #453632;
    surface-container-lowest: #160b08;
    surface-container-low: #251915;
    surface-container: #291d19;
    surface-container-high: #352723;
    surface-container-highest: #40312d;
}
