* {
    primary: #66ab83;
    primary-fixed: #105d3b;
    primary-fixed-dim: #004328;
    on-primary: #002212;
    on-primary-fixed: #b1f9cc;
    on-primary-fixed-variant: #86cda2;
    primary-container: #004328;
    on-primary-container: #8dd4a9;
    secondary: #88a490;
    secondary-fixed: #3d5746;
    secondary-fixed-dim: #263f30;
    on-secondary: #041c10;
    on-secondary-fixed: #d3f1db;
    on-secondary-fixed-variant: #a8c4b0;
    secondary-container: #263f30;
    on-secondary-container: #afccb7;
    tertiary: #da858d;
    tertiary-fixed: #803c44;
    tertiary-fixed-dim: #64252e;
    on-tertiary: #37030e;
    on-tertiary-fixed: #ffe3e4;
    on-tertiary-fixed-variant: #ffa5ad;
    tertiary-container: #64252e;
    on-tertiary-container: #ffb0b6;
    error: #ff7063;
    on-error: #3a0001;
    error-container: #7b0007;
    on-error-container: #ffb1a8;
    surface: #101411;
    on-surface: #c1c4c0;
    on-surface-variant: #96a097;
    outline: #747e76;
    outline-variant: #333c36;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e0e3de;
    inverse-on-surface: #4a4e4a;
    inverse-primary: #307652;
    surface-dim: #101411;
    surface-bright: #363a37;
    surface-container-lowest: #0b0f0c;
    surface-container-low: #191c19;
    surface-container: #1d211d;
    surface-container-high: #272b28;
    surface-container-highest: #323632;
}
