/* Global Styling */
* {
    border: none;
    font-family: "JetBrains Mono Medium";
    font-weight: bold;
    font-size: 13px;
    min-height: 11px;
}

@import "colors.css";

/* Main Background */
window#waybar {
    background: @background;
}

/* Tooltip Styling */
tooltip {
    color: @primary;
    background: @background;
    border: solid;
    border-width: 1.5px;
    border-radius: 7px;
    border-color: white;
}

/* Workspaces */
#workspaces button.active {
    padding: 0px 2px;
    color: @on_primary;
    background: @on_primary_fixed_variant;
}

#workspaces button.urgent {
    padding: 0 2px;
    color: #be95ff;
}

#workspaces button {
    padding: 0 2px;
    color: @primary;
}

/* General Module Styling */
#custom-ws,
#workspaces,
#window,
#custom-cpuinfo,
#memory,
#cpu,
#clock,
#custom-wifi,
#pulseaudio,
#backlight,
#battery,
#custom-updates,
#custom-tasks,
#custom-power {
    opacity: 1;
    margin-bottom: 0px;
    padding-right: 4px;
    padding-left: 4px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

/* General Left Arrow Styling */
#custom-left1,
#custom-left2,
#custom-left3,
#custom-left4,
#custom-left5,
#custom-left6,
#custom-left7,
#custom-left8 {
    font-size: 11.5pt;
    margin-bottom: -2px;
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 1);
}

/* General Right Arrow Styling */
#custom-right1,
#custom-right2,
#custom-right3,
#custom-right4,
#custom-right5 {
    font-size: 11.5pt;
    margin-bottom: -2px;
    padding-right: 3px;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
}

/* Window Icon */
#custom-paddl {
    font-size: 11.5pt;
    margin-bottom: -1px;
    margin-left: -3px;
    padding-right: 2px;
    background: @background;
}

#custom-ws {
    background: @background;
}

/* Workspaces */
#custom-left1 {
    color: @primary_container;
    background: @background;
    padding-left: 2px;
}

#workspaces {
    padding: 0;
    background: @primary_container;
}

#custom-right1 {
    color: @primary_container;
    background: @background;
}

/* CPU Info */
#custom-paddc {
    padding-right: 3px;
}

#custom-left2 {
    color: @primary_container;
    background: @background;
    padding-left: 3px;
}

#custom-tasks {
    background: @primary_container;
    padding-left: 5px;
    padding-right: 5px;
}

/* Memory */
#custom-left3 {
    color: @secondary_container;
    background: @primary_container;
    padding-left: 3px;
}

#memory {
    background: @secondary_container;
    padding-left: 1px;
    padding-right: 0px;
}

/* CPU */
#custom-left4 {
    color: @tertiary_container;
    background: @secondary_container;
    padding-left: 3px;
}

#cpu {
    background: @tertiary_container;
}

#custom-leftin1 {
    color: @tertiary_container;
    font-size: 16pt;
    margin-bottom: -2px;
}

/* Arch Logo */
#custom-left5 {
    color: @tertiary_container;
    background: @background;
    text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.6);
    padding-left: 3px;
    font-size: 13pt;
}

#custom-arch {
    color: @tertiary;
    background: @tertiary_container;
    font-size: 13pt;
    margin-right: -3px;
    margin-bottom: -2px;
    padding-right: 0px;
    padding-left: 3px;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#custom-right2 {
    color: @tertiary_container;
    background: @background;
    font-size: 13pt;
}

/* Time */
#custom-rightin1 {
    color: @tertiary_container;
    font-size: 16pt;
    margin-bottom: -2px;
}

#clock.time {
    background: @tertiary_container;
}

#custom-right3 {
    color: @tertiary_container;
    background: @secondary_container;
}

/* Date */
#clock.date {
    background: @secondary_container;
}

#custom-right4 {
    color: @secondary_container;
    background: @background;
}

/* Network */
#custom-wifi {
    background: @background;
    color: @primary;
    padding-right: 0px;
    padding-left: 0px;
}

/* Media Info */
#custom-media {
    background-color: @background;
    padding-right: 8px;
    padding-left: 8px;
}

/* PulseAudio */
#custom-left6 {
    color: @primary_container;
    background: @background;
    padding-left: 3px;
}

#pulseaudio {
    background: @primary_container;
    color: @primary;
}

/* Brightness */
#custom-left7 {
    color: @secondary_container;
    background: @primary_container;
    padding-left: 2px;
}

#custom-updates,
#backlight {
    background: @secondary_container;
    color: @secondary;
}

/* Battery */
#custom-left8 {
    color: @tertiary_container;
    background: @secondary_container;
    padding-left: 2px;
}

#battery,
#custom-razer-bat {
    background: @tertiary_container;
    font-size: 8.5pt;
    color: @tertiary;
}

/* Power Button */
#custom-leftin2 {
    color: @tertiary_container;
    background: @background;
    font-size: 16pt;
    margin-bottom: -2px;
}

#custom-power {
    color: @primary;
    background: @primary_container;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 1);
    border-radius: 20px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    padding-right: 6px;
    padding-left: 9px;
}

#custom-power:hover {
    color: @hover-fg;
    background: @hover-bg;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}
